body {
    margin: 0;
    font-family: "Courier", "Courier New", monospace;
    background-color: #000;
    color: #fff;
    font-size: 13px;
}

#pagesWrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fullPage {
    display: none;
    text-align: center;
    position: relative;
}

#page-1 {
    display: block;
}

.albumCover img {
	margin-top: 10px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.arrow-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#prevPage {
    left: 20px;
}

#nextPage {
    right: 20px;
}

#prevPage2 {
    left: 20px;
}

#nextPage2 {
    right: 20px;
}

#prevPage3 {
    left: 20px;
}

#nextPage3 {
    right: 20px;
}

.download-link {
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}

.logoWrap {
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.socialWrap {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.socialLinks a {
    text-decoration: none;
}

.socialLinks img {
    width: 30px;
    height: 30px;
}

.addThisButton {
    margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .albumCover img {
        width: auto;
        height: auto;
        max-width: 90%; /* You can adjust this value to your preference */
        margin-top: 10%; /* Adds a top margin similar to the desktop version */
    }
}

}
