/* Ensure no scrollbar */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 12px;
    letter-spacing: 3px;
}

body {
    font-family: "Courier", "Courier New", monospace;
    background-color: #000;
    color: #fff;
    position: relative;
}

/* Other styles remain the same */
#pagesWrap {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fullPage {
    display: none;
    text-align: center;
    position: relative;
}

.fullPage.active {
    display: block;
}

.albumCover img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.arrow-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#prevPage {
    left: 20px;
}

#nextPage {
    right: 20px;
}

#prevPage2 {
    left: 20px;
}

#nextPage2 {
    right: 20px;
}

#prevPage3 {
    left: 20px;
}

#nextPage3 {
    right: 20px;
}

.download-link {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.socialWrap {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.socialLinks a {
    text-decoration: none;
}

.socialLinks img {
    width: 30px;
    height: 30px;
}

.addThisButton {
    margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        font-size: 12px; /* Adjust font size for mobile */
    }

    .albumCover img {
        width: auto;
        height: auto;
        max-width: 66%;
        margin-top: 10%;
    }
}
